* {
    margin: 0;
    box-sizing: border-box;
}

/* Login Outer Container */
#loginOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
/* Form Container */
#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 500px;
}
#loginHeader {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 60px;
}
/* Form Items */
#formItems {
    height: 350px;
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#formItems input {
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-family: 'Montserrat';
}
#formItems label {
    font-size: 40px;
    font-family: 'Montserrat';
}
#loginButton {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 20px;
}
#signUpContainer {
    font-family: 'Montserrat';
}


/* Sign Up File */
#signUpOuterContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUpInnerContainer {
    height: 550px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUpForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 70%;
    flex-direction: column;
}

#signUpForm label {
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
}

#signUpForm input {
    height: 50px;
    width: 100%;
    font-size: 25px;
    font-family: 'Montserrat';
    border-radius: 5px;
    border-width: 1px;
}

#buttonContainer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonContainer button {
    height: 50px;
    width: 250px;
    font-size: 20px;
    border-radius: 5px;
    border-width: 1px;
    font-family: 'Montserrat';
}

/* Home Page Style */
#outerContainerHomePage {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homePageNav {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
#logo {
    height: 80px;
    width: 150px;
    background-image: url(Images/logo.png);
    background-size: cover;
    background-position: center;
}

#homePageNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 60px;
    width: 400px;
    padding: 0;
}
#homePageNav ul li {
    text-decoration: none;
    font-family: 'Montserrat';
}

#userNameNavCtn {
}


/* NEW POST STYLE */
#newPostOuterContainer {
    height: 100vh;
    width: 100%;
}

#newPostNav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#newPostNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 60px;
    width: 400px;
    padding: 0;
}

#newPostNav ul li {
    text-decoration: none;
    font-family: 'Montserrat';
}

#clickMe {
    text-decoration: none;
}

#postFormCtn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 900px;
}

#postForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    width: 500px;
    flex-direction: column;
    font-family: 'Montserrat';
}
#postForm input[type="text"] {
    width: 470px;
    height: 50px;
    font-size: 20px;
    font-family: 'Montserrat';
}
#postForm textarea {
    font-size: 20px;
    font-family: 'Montserrat';
}
.postHeader {
    font-size: 30px;
}

#postOuterCtn {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#postInnerCtn {
    height: 200px;
    width: 200px;
}

#addPhotos {
    cursor: pointer;
    height: 50px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e46ff;
    color: white;
    border-radius: 20px;
}

#postButton {
    height: 60px;
    width: 200px;
    font-family: 'Montserrat';
    font-size: 25px;
    background-color: #2e46ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#logoutBtn {
    cursor: pointer;
}
