#login-btn {
	background-color: #061874;
	color: #fff;
}

#login-btn:hover {
	background-color: #fff;
	color: #061874;
	border: 2px solid #061874;
}

.navbar-brand:hover {
	border-bottom: 2px solid #061874;
}

.nav-link {
	color: #414C68;
}

.nav-item .nav-link:hover {
	color: #6CB6DA;
	font-weight: bold;
	text-decoration: underline;
}

#landing-title {
	border-left: 25px solid #061874;
	color: #060084;
}

#signup-btn {
	background-color: #fff;
	border: 2px solid #061874;
	color: #061874;
}

#signup-btn:hover {
	background-color: #061874;	
	color: #fff;
}

#howItWorks-head {
	color: #061874;
	border-bottom: 1px solid #061874;
}

#howItWorks-header {
	color: #061874;
}

#howItWorks-header span:hover {
	font-weight: bold;
	color: #6CB6DA;
	text-decoration: underline;
	cursor: pointer;
}

.card-body {
	color: #060084;
}

#howItWorks-num {
	font-size: 70px;
}

#hints-head {
	color: #061874;
	border-bottom: 1px solid #061874;
}

#aboutUs-head {
	color: #061874;
	border-bottom: 1px solid #061874;
}

p {
	color: #061874;
}

h3 {
	color: #061874;
}

#mission-vission {
	border: 1px solid #060084;
}
/* * {
	font-family: "Inria Sans", sans-serif;
}

#home:hover {
	font-weight: bold;
	text-decoration: underline;
}

#guidelines:hover {
	font-weight: bold;
	text-decoration: underline;
}

#how-to-use:hover {
	font-weight: bold;
	text-decoration: underline;
}

#faqs:hover {
	font-weight: bold;
	text-decoration: underline;
}

#why-us:hover {
	font-weight: bold;
	text-decoration: underline;
}

#about-us:hover {
	font-weight: bold;
	text-decoration: underline;
}

#join:hover {
	text-decoration: underline;
	text-decoration-color: black;
}

.input_text {
	border: 1px solid black;
}
 */